.esperiencia{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.margen2{
    background-color: rgb(238, 187, 185);
}

.tipoletra{
    font-family: 'Courier New', Courier, monospace;
}


